GITHUB_ACCESS_TOKEN=
GITHUB_USERNAME=
WRITE_PATH=/Users/christinayang/Documents/GitHub/OPB/instructor_stats_bank/source/unsorted
PL_QUESTION_PATH=/Users/christinayang/Documents/GitHub/OPB/pl-opb-ind100/questions/FM
CHECKQ_PATH=/Users/christinayang/Documents/GitHub/OPB/instructor_stats_bank/scripts/checkq.py
MY_NAME=
MY_INITIALS=

OPENAI_API_KEY=